<?xml version="1.0" encoding="utf-8"?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <service id="setono_sylius_mailchimp.context.locale"
                 class="Setono\SyliusMailchimpPlugin\Context\LocaleContext">
            <argument type="service" id="sylius.repository.locale"/>
            <argument type="service" id="sylius.context.locale"/>
        </service>

        <service id="setono_sylius_mailchimp.context.config"
                 class="Setono\SyliusMailchimpPlugin\Context\MailchimpConfigContext"
                 public="true">
            <argument type="service" id="setono_sylius_mailchimp.repository.config"/>
            <argument type="service" id="setono_sylius_mailchimp.repository.list"/>
            <argument type="service" id="sylius.context.channel"/>
            <argument type="service" id="setono_sylius_mailchimp.context.locale"/>
            <argument type="service" id="setono_sylius_mailchimp.factory.config"/>
            <argument type="service" id="setono_sylius_mailchimp.factory.list"/>
            <argument type="service" id="setono_sylius_mailchimp.manager.config"/>
        </service>
    </services>
</container>
