{% import '@SyliusUi/Macro/labels.html.twig' as label %}

{% set state = data %}
{% set label = ('setono_sylius_mailchimp.ui.'~state)|trans %}

{% if data == constant('Setono\\SyliusMailchimpPlugin\\Model\\MailchimpExportInterface::NEW_STATE') %}
    <div class="ui label">{{ label }}</div>
{% elseif data == constant('Setono\\SyliusMailchimpPlugin\\Model\\MailchimpExportInterface::IN_PROGRESS_STATE') %}
    <div class="ui blue label">{{ label }}</div>
{% elseif data == constant('Setono\\SyliusMailchimpPlugin\\Model\\MailchimpExportInterface::COMPLETED_STATE') %}
    <div class="ui green label">{{ label }}</div>
{% elseif data == constant('Setono\\SyliusMailchimpPlugin\\Model\\MailchimpExportInterface::FAILED_STATE') %}
    <div class="ui red label">{{ label }}</div>
{% endif %}
