{% import '@SyliusUi/Macro/labels.html.twig' as label %}

{% set state = data %}
{% set label = ('setono_sylius_mailchimp_export_plugin.ui.'~state)|trans %}

{% if data == constant('Setono\\SyliusMailChimpPlugin\\Entity\\MailChimpExportInterface::NEW_STATE') %}
    <div class="ui label">{{ label }}</div>
{% elseif data == constant('Setono\\SyliusMailChimpPlugin\\Entity\\MailChimpExportInterface::IN_PROGRESS_STATE') %}
    <div class="ui blue label">{{ label }}</div>
{% elseif data == constant('Setono\\SyliusMailChimpPlugin\\Entity\\MailChimpExportInterface::COMPLETED_STATE') %}
    <div class="ui green label">{{ label }}</div>
{% elseif data == constant('Setono\\SyliusMailChimpPlugin\\Entity\\MailChimpExportInterface::FAILED_STATE') %}
    <div class="ui red label">{{ label }}</div>
{% endif %}
