    </div>
</div>

<div class="ui container">
    <div class="ui inverted divided equal height stackable grid">
        <div class="twelve wide column">
            <h4 class="ui inverted header">{{ 'setono_sylius_mailchimp.ui.newsletter'|trans }}</h4>
            {% include '@SetonoSyliusMailchimpPlugin/Shop/Subscribe/_form.html.twig' %}
        </div>
