<div class="three wide column">
    {{ form_row(form.audienceId) }}

    {{ form_row(form.channel) }}

    <div class="ui info message">
        <div class="header">
            {{ 'setono_sylius_mailchimp.form.audience.notice.header'|trans }}
        </div>
        <p>{{ 'setono_sylius_mailchimp.form.audience.notice.content'|trans|raw }}</p>
    </div>
</div>
